body {
    a {
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        font-weight: normal;
    }
}    
.header {
    .menu {
        background-color: #2d2d2d;
        display: flex;
        align-items: center;
        .logo {
            margin: 23px 40px 27px 27px;
        }
        .nav {   
            flex-grow: 2; 
            display: flex;
            justify-content: space-between; 
        }
        .search {
            height: 40px;
            width: 200px;
            flex-grow: 2;
            margin: 0 50px 0 100px; 
        }
    }
    .downMenu {
        background-color: #f3f3f3;
        display: flex;
        .breakingNews {
            padding: 13px 20px 10px 20px;
            margin-right: 10px;
            text-align: center;
            background-color: #e75757;
            img {
                position: fixed;
                top: 100px;
                left: 120px;
            }
        }
        .mar {
            // border: 1px solid red;
            display: flex;
            p {
                font-size: 15px;
            }
        }
        .soc {
            margin: 3px;
            a {
                padding-bottom: -3px;  
            }
            img:hover {
                opacity: 0.7;
            }
        }
    }
}

    


